<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Cuestionarios</title>
</head>
<body id="body">

{{> nav.hbs}}

<div class="main_container">
    <h1 class="encabezado"> Cuestionarios</h1>
    <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">
    {{#if esAdmin}}
        <a href="/agregarCuestionario" class="btn-border-blue fuente">
            <i class="fas fa-user-plus" style="margin-bottom:25px;"></i> Agregar Cuestionario
        </a>
    {{/if}}
    {{#if esVoluntario}}
        <a href="../{{organizacion.id}}/agregarCuestionario" class="btn-border-blue fuente">
            <i class="fas fa-user-plus" style="margin-bottom:25px;"></i> Agregar Cuestionario
        </a>
    {{/if}}
    <table class="tabla" id="tabla">
        <thead>
        <th>Titulo</th>
        <th><i class="fas fa-tools"></i> Acciones</th>
        </thead>
        <tbody>
        {{#each cuestionarios}}
            <tr>
                <td>{{descripcion}}</td>
                <td>
                    {{#if esAdmin}}
                        <a href="/gestionarCuestionarios/{{id}}" name="button" class="btn" style="width:115px;"> Ver Preguntas</a>
                    {{/if}}
                    {{#if esVoluntario}}
                        <a href="../{{organizacion.id}}/cuestionario/{{id}}" name="button" class="btn" style="width:115px;"> Ver Preguntas</a>

                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>


</html>
