<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Organizaciones</title>
</head>
<body id="body">

{{> nav.hbs}}

<div class="main_container">
    <h1 class="encabezado"><i class="fas fa-users"></i> Organizaciones</h1>
    <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">
    <table class="tabla" id="tabla">
        <thead>
        <th>Nombre</th>
        <th>Dirección</th>
        <th><i class="fas fa-tools"></i> Acciones</th>
        </thead>
        <tbody>
        {{#each organizaciones}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{ubicacion.direccion}}</td>
                <td>
                    {{#if esAdmin}}
                        <a href="/organizacion/{{id}}" name="btn" class="btn btn-edit"><i
                                class="fas fa-user-edit"></i></a>
                    {{/if}}
                    <a href="/publicacionesDarAdopcion/{{id}}" name="button" class="btn" style="width:135px;">Dar en Adopción</a>
                    <a href="/publicacionesMascotaPerdida/{{id}}" name="button" class="btn" style="width:135px;">Masc.Perdidas</a>
                    <a href="/interesesAdopcion/{{id}}" name="button" class="btn" style="width:135px;">Interes Adopción</a>
                    {{#if esUsuarioVoluntario}}
                        <a href="/voluntarios/{{id}}" name="button" class="btn" style="width:100px;">Voluntarios</a>
                        <a href="/organizacion/{{id}}/cuestionarios" name="button" class="btn" style="width:110px;">Cuestionario</a>
                    {{/if}}

                    {{#if esAdmin}}
                        <a href="/voluntarios/{{id}}" name="button" class="btn" style="width:100px;">Voluntarios</a>
                        <a href="/organizacion/{{id}}/cuestionarios" name="button" class="btn" style="width:110px;">Cuestionario</a>
                    {{/if}}

                    {{#if esComun}} {{#if esPostulanteAOrg}}  {{else}}
                        <a href="/postularse/{{id}}" name="btn" class="btn" style="width:160px;">Quiero ser voluntario</a>
                    {{/if}} {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>


<!-- ================= MODAL ELIMINACION ================== -->
<div class="modalEliminar modal" id="modalEliminar">
    <div class="modalContent">
        <input id="userId" type="hidden" value="">
        <p>¿Desea eliminar la organización?</p>
        <button type="button" name="button" class="btn-close-modal" onclick="cerrarModal()"><i
                class="fas fa-times-circle"></i></button>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="eliminarUsuario()">Eliminar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
    </div>
</div>
<!-- ================= FIN MODAL ELIMINACION ================== -->

</html>
