<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <title>Nuevo usuario</title>
  </head>
  <body>
    <header>

    </header>
    <div class="main_container">

      <div class="contenedor-carta-usuario">
        <div class="carta-usuario">
          <form class="" {{#if usuario}} action="/usuario/{{usuario.id}}" method="post" {{else}} action="/usuario" method="post" {{/if}} style="">

            <div class="form-cargar-usuario">
              <div class="" style="text-align:center;">
                <label for="input-img-usuario"><img src="/img/usuario.png" class="imagen-perfil" alt=""></label>
                <input id="input-img-usuario" type="file" name="" value="" style="display:none;">
              </div>

              <div class="" style="margin:40px;">

                <label><i class="fas fa-user"></i> Usuario</label>
                <br>
                <input type="text" name="usuario"  class="input-datos" placeholder="Usuario" {{#if usuario}}value="{{usuario.usuario}}" {{/if}}>
                <br>
                <br>
                <label><i class="fas fa-file-signature"></i>  Password</label>
                <br>
                <input type="password" name="password" value="" class="input-datos" placeholder="">
                <br>

                       </div>
              <div class="" style="margin:40px;">


                <br>
                <label><i class="fas fa-user-cog"></i>  Perfil</label>
                <br>
                <select class="input-select" name="permiso">
                   <option selected disabled>Seleccionar</option>
                     {{#each roles}}
                       <option value="{{id}}">{{nombre}}</option>
                     {{/each}}
                 </select>
              </div>
            </div>
            {{#if usuario}}
                <input type="submit" name="" class="btn-verde" style="float:right;"  value="Guardar cambios">
            {{else}}
                <input type="submit" name="" class="btn-verde" style="float:right;"  value="Crear usuario">
            {{/if}}
            <a href="/usuarios" class="btn-border-blue" style="">Volver</a>
          </form>
        </div>
      </div>

    </div>
  </body>
  </html>
