<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Voluntarios</title>
</head>
<body id="body">

{{> nav.hbs}}

<div>
    <h1 class="encabezado"><i class="fas fa-users"></i> Voluntarios</h1>
    <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">

    <table class="tabla" id="tabla">
        <thead>
        <th><i class="fas fa-user"></i> Nombre</th>
        <th><i class="fas fa-user-cog"></i> Permiso</th>
        </thead>
        <tbody>
        {{#each voluntarios}}
            <tr>
                <td>{{usuario}}</td>
                <td>{{permiso}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#if voluntarioOAdmin}}
    <div>
        <h1 class="encabezado"><i class="fas fa-users"></i> Voluntarios pendientes aprobación</h1>
        <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">

        <table class="tabla" id="tabla">
            <thead>
            <th><i class="fas fa-user"></i> Nombre</th>
            <th><i class="fas fa-user-cog"></i> Permiso</th>
            <th><i class="fas fa-tools"></i> Acciones</th>
            </thead>
            <tbody>
            {{#each postulantesVoluntarios}}
                <tr>
                    <td>{{usuario}}</td>
                    <td>{{permiso}}</td>
                    <td>
                        <!-- <button type="button" name="button" class="btn-verde" onclick="aprobarVoluntario()">Aprobar
                        </button>

                        <button type="button" name="button" class="btn-rojo" onclick="negarVoluntario()">Negar</button>-->
                        <a class="btn" href="/organizacion/{{orgID}}/aprobarVoluntario/{{this.id}}"  style="width:120px;" >Aprobar</a>
                        <a class="btn" href="/organizacion/{{orgID}}/denegarVoluntario/{{this.id}}"  style="width:120px;" >Denegar</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/if}}
</body>


<!-- ================= MODAL ELIMINACION ================== -->
<div class="modalEliminar modal" id="modalEliminar">
    <div class="modalContent">
        <input id="userId" type="hidden" value="">
        <p>¿Desea eliminar el usuario?</p>
        <button type="button" name="button" class="btn-close-modal" onclick="cerrarModal()"><i
                class="fas fa-times-circle"></i></button>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="eliminarUsuario()">Eliminar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
        </div>
    </div>
</div>
<!-- ================= FIN MODAL ELIMINACION ================== -->

</html>
